.q {
  display: flex;
  justify-content: center;
}

.fa01 {
  border: 2px solid #ff0000;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 15px;
  padding: 2px 1rem;
}

.fa02 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
  width: 130px;
  height: 130px;
  border: 1px solid #ff0000;
  border-radius: 50%;
  color: white;
  background: #ff0000;
}

.fa03 {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem;
}

